.header{
    margin-top: 1rem;
 
}

.main{
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    padding-bottom: 1%;
}
.fallesbillede{
    max-width:100%;
    max-height: 100%;
    border-radius: 2%;
    transition: all 0.3s ease;
}
.fallesbillede:hover{
    filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
    transform: scale(1.1);
}

/*Nav link animation*/
.nav-link{
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link:hover{
    text-decoration: underline;
    transform: scale(1.1);
}


/*Sørger for at skabe en svæve animation*/
.hoverfly{
    
    transition: all 0.3s ease;
}
.hoverfly:hover{
    filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
    transform: scale(1.1);
}


.manchet{
    padding-top: 1%;
}
div{
    border-radius: 2%;
}
.bg-5{
    background-color: #F0F0F0;
}
.bg-4{
    background-color: #213555;
}
.bg-3{
    background-color: #4F709C;
}
.bg-2{
    background-color: #E5D283;
}
.bg-1{
    background-color: #d6ecf9;
}
.color-5{
    color: #F0F0F0;
}
.color-4{
    color: #213555;
}
.color-3{
    color: #4F709C;
}
.color-2{
    color: #E5D283;
}
.color-1{
    color: #d6ecf9;
}
footer{
    padding-bottom: 10%;
}


/*Det kan være i vil fjerne Hover animationer her. Det kan være ret besværligt hos brugeren*/
@media (max-width: 720px) {
    /* CSS that should be displayed if width is equal to or less than 650px goes here */
    .header{
        margin-top: 1rem;
     
    }
    
    .main{
        margin-left: 0%;
        margin-right: 0%;
    }
    h2{
        padding-bottom: 1%;
    }
    .fallesbillede{
        max-width:100%;
        max-height: 100%;
        border-radius: 2%;
        transition: all 0.3s ease;
    }
    .fallesbillede:hover{
        filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
        transform: scale(1.1);
    }
    .nav-link{
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .nav-link:hover{
        text-decoration: underline;
        transform: scale(1.1);
    }
    .manchet{
        padding-top: 1%;
    }
    div{
        border-radius: 2%;
    }
  }