.header{
    margin-top: 1rem;
 
}

.main{
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    padding-bottom: 1%;
}
.fallesbillede{
    max-width:100%;
    max-height: 100%;
    border-radius: 2%;
    transition: all 0.3s ease;
}
.fallesbillede:hover{
    filter: drop-shadow(0 0 3rem rgb(0, 0, 0));
    transform: scale(1.1);
}
.nav-link{
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-link:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
.manchet{
    padding-top: 1%;
}
div{
    border-radius: 2%;
}
.bg-5{
    background-color: #c5d6d8;
}
.bg-4{
    background-color: #60695C;
}
.bg-3{
    background-color: #ABDF75;
}
.bg-2{
    background-color: #99F7AB;
}
.bg-1{
    background-color: #D6F9DD;
}
.color-5{
    color: #c5d6d8;
}
.color-4{
    color: #60695C;
}
.color-3{
    color: #ABDF75;
}
.color-2{
    color: #99F7AB;
}
.color-1{
    color: #D6F9DD;
}
footer{
    padding-bottom: 10%;
}